/*样式重置*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    outline: none;
    box-sizing: border-box;
}
body { font-size: 62.5%; line-height: 1; font-family: 'adihausregular','黑体',Arial,Helvetica,Verdana,sans-serif; }
ol, ul { list-style: none; }
img { border: 0; max-width: 100%; }
a{text-decoration: none;}
p { font-size: 1.2em; line-height: 1.0em; color: #333; }
.fl{
	float: left;
}
.fr{
	float: right;
}
body{
	position: relative;
	overflow-x:hidden; 
}
body.bodyAC::after{
	content: "";
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	animation: move .6s forwards;
	z-index: 9;
}
@keyframes move{
	0%{
		background: rgba(0,0,0,0);
	}
	100%{
		background: rgba(0,0,0,.7);
	}
}
header{
    height:88px;
    background: #000000;
    position: relative;
    transition: .6s;
    z-index: 10;
}
/*头部菜单栏*/
.nav{
	width: 661px;
	background: #000000;
	position: absolute;
	left: -662px;
	top: 0;
}
.nav .title{
	width: 662px;
    height: 88px;
    line-height: 88px;
    color: #fff;
    text-align: center;
    background: #000;
    font-size: 48px;
}
.nav .navigation dt{
	background: white;
	width: 662px;
	border-bottom: 2px solid #c8cbcc;

}
.nav .navigation dt p{
	font-size: 30px;
	color: #000;
	padding: 0 40px;
	line-height: 88px;
	position: relative;
}
.nav .navigation dt p i{
	display: block;
	width: 24px;
	height: 24px;
	position: absolute;
	background: url('../images/icon.png') no-repeat;
    background-position: -245px 0;
    top: 32px;
    right: 40px;
}
.nav .navigation dt ul{
	display: none;
}
.nav .navigation dt li{
	height: 86px;
	padding: 0 72px;
	font-size: 30px;
	line-height: 86px;
	color: #000;
	background-color: #ebebeb;
	border-bottom: 2px solid #c8cbcc;;
}
/*头部和菜单栏动画*/
header.H-active{
	transform: translateX(661px);
}

header .heardmain{
	height: 100%;
}
.menu{
	width: 90px;
	height: 100%;
	display: block;
	border-right: 2px solid #616363;
	padding: 0 26px;
	justify-content: center;
	display: flex;
	flex-direction: column;
}
.menu>i{
	display: block;
	margin:2px 0;
	width: 100%;
	height: 5px;
	background: #BDBDBD;
}
.logo{
	display: block;
	width: 236px;
	height: 88px;
	margin-left:118px;
	background: url('../images/logo.png') no-repeat center;
	background-size: contain;

}
.miniNum,.searchbtn{
	display: block;
	width: 88px;
	height: 100%;
	border-left: 2px solid #616363;
	display: flex;
	justify-content: center;
	align-items: center;
}
.miniNum {
	background: #0286cd;
}
.searchbtn{
	background: #000000;
}
.miniNum i,.searchbtn i{
	display: block;
	background: url('../images/icon.png') no-repeat;
}
.miniNum i{
	width: 32px;
	height: 38px;
	line-height: 42px;
	text-align: center;
	color: #0286cd;
	font-size: 24px;
	background-position: -298px -84px;
}
.searchbtn i{
	width: 36px;
	height: 36px;
	background-position: -77px -30px;
}
/*头部搜索框*/
.searchinput{
	position: absolute;
	top: 88px;
	left: 0px;
	height: 118px;
	width: 100%;
	padding: 15px;
	background: #363738;
	display: none;
}
.searchinput input{
	height: 88px;
	width: 560px;
	font-size: 24px;
	border: none;
	padding: 0 80px;
}
.searchinput i{
	display: block;
	position: absolute;
}
.searchinput i:nth-child(1){
	width: 30px;
	height: 30px;
	background: url('../images/icon.png') no-repeat -32px -29px;
	left: 38px;
	top:42px;
}
.searchinput i:nth-child(2){
	width: 32px;
	height: 32px;
	left: 675px;
	top: 42px;
	background: url('../images/icon.png') no-repeat 0px -140px;
}

.banner{
	height: 730px;
	clear: both;
	position: relative;
	z-index: 1;
}
.banner ul{
	height: 670px;
}
.banner ul li{
	position: relative;
}
.banner ul li button{
	border: none;
	width: 670px;
	height: 96px;
	background: #0286CD;
	position: absolute;
	bottom: 60px;
	left: 40px;
	font-size: 32px;
	line-height: 32px;
	text-align: center;
	color: white;
}
.banner ul li:nth-child(1),.banner ul li:nth-child(4){
	background: url(../images/gun3.jpg) no-repeat center;
	background-size: 100% 100%;
}
.banner ul li:nth-child(2),.banner ul li:nth-child(5){
	background: url(../images/gun1.jpg) no-repeat center;
	background-size: 100% 100%;
}
.banner ul li:nth-child(3){
	background: url(../images/gun2.jpg) no-repeat center;
	background-size: 100% 100%;
}



.hpDynamic{
	margin: 44px 40px 0;
	display: flex;
	flex-wrap:wrap;
}
.hpDynamic .future{
	width: 326px;
	margin-bottom: 60px;
}
.hpDynamic .future:nth-child(2n+1){
	margin-right: 17px;
}
.hpDynamic .future img{
	width: 100%;
	height: 226px;
	vertical-align: top;
}
.hpDynamic .future a.title{
	display: block;
	font-size: 24px;
    line-height: 24px;
    padding: 28px 0 16px;
    height: 68px;
    overflow: hidden;
    text-align: center;
}   
.hpDynamic .future a.subtitle{
	display: block;
	font-size: 20px;
    line-height: 20px;
    color: #0286cd;
    text-align: center;
}



.productSuggest{
	margin-top: 10px;
	padding: 70px 0;
	background: #EBEBEB;
}
.productSuggest p:nth-child(1){
	font-size: 32px;
    line-height: 32px;
    text-align: center;
}
.productSuggest p:nth-child(2){
	font-size: 22px;
    text-align: center;
    padding: 15px 0 40px;
}
.tabNav{
	text-align: center;
	display: flex;
	justify-content: center;
	margin-bottom: 60px;
}
.tabNav li{
	width: 145px;
	height: 46px;
    line-height: 46px;
    text-align: center;
    color: #9a9b9b;
    font-size: 24px;
    cursor: pointer;
    background: #fff;
}
.tabNav li.tabNavliAC{
	color: white;
	background: black;
}
.male,.female{
	width: 690px;
	margin: 0 auto;
}
.female{
	display: none;
}
.male img,.female img{
	width: 100%;
	height: 324px;
	vertical-align: top;
}
.male p.productInfo,.female p.productInfo{
	color: #586268;
    font-size: 18px;
    line-height: 40px;
    height: 40px
}    
.male a,.female a{
	display: block;
    font-size: 20px;
    line-height: 24px;
    padding: 13px 0;
    height: 65px;
    margin-bottom: 10px;
    overflow: hidden;
    border-top: 1px dotted #666;
}
.male p.price,.female p.price{
	font-size: 20px;
    font-weight: bold;
    line-height: 20px;
}



.hpClassifyTit{
	text-align: center;
	margin-top: 70px;
}
.hpClassifyTit .title {
    font-size: 32px;
    line-height: 32px;
}
.hpClassifyTit .subTitle {
    font-size: 22px;
    line-height: 22px;
    padding: 15px 0 40px;
}



.hpClassify{
}
.hpClassify .cf{
	height: 94px;
	border-top: 1px solid #c8cbcc;
	display: flex;
}
.hpClassify .cf a{
    flex: 1;
    margin: 17px 0;
    padding: 0 40px;
    height: 60px;
    line-height: 60px;
    font-size: 20px;
    color: #9a9b9b;
    border-right: 1px solid #c8cbcc;
    position: relative;
}
.hpClassify .cf a strong{
	font-weight: bold;
}
.hpClassify .cf a i{
	display: block;
    float: right;
    width: 21px;
    height: 20px;
    background: url(../images/icon.png) no-repeat;
    background-position: -172px 0;
    margin-top: 20px;
}


footer{
	background: #363738;
}
footer .backToTop {
    display: block;
    text-align: center;
    color: #000;
    font-size: 30px;
    line-height: 30px;
    padding: 56px 0;
    border-top: 2px solid #c8cbcc;
}
.ftLoginMinicart{
	display: flex;
	background: #000;
    font-size: 30px;
    height: 95px;
    border-bottom: 2px solid #5e5f60;
    padding: 19px 0 16px;
}
.ftLoginMinicart p{
	flex: 1;
    display: block;
    color: #fff;
    padding-left: 40px;
    line-height: 60px;
}
.ftLoginMinicart p:first-child{
	border-right: 2px solid #5e5f60;
}
.ftLoginMinicart p a{
	color: white;
	font-size: 24px;
}
.ftLoginMinicart p i{
	display: block;
    float: left;
    margin-right: 23px;
	width: 30px;
    height: 32px;
    margin-top: 14px;
    background: url('../images/icon.png');
    background-position: -254px -85px;
}
.ftSelector{
	padding: 25px 40px 0;
	background: #363738;
}
.ftSelector>a:first-child{
	display: block;
	height: 53px;
	font-size: 30px;
	color: white;
	border-bottom: 2px solid #5e5f60;
}
.ftSelector>a:first-child img{
	width: 45px;
	height: 30px;
	vertical-align: middle;
}
.ftQuickLinks{
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 2px solid #5e5f60;
}
.ftQuickLinks a{
	padding: 0 25px;
	font-size: 24px;
	color: white;
	border-right: 2px solid #5e5f60;
}
.ftQuickLinks a:last-child{
	border-right: 0;
}
.ftCopy{
	font-size: 18px;
	line-height: 18px;
    color: #616363;
    padding: 22px 0;
    text-align: center;
    background: #363738;
}